/* -----------------------------------------------------------------------------
 * general
 * -------------------------------------------------------------------------- */
/* apply a natural box layout model to all elements */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font: normal bold 13px/18px Arial, sans-serif;
    margin: 0 0 8px 0;
}

#container {
    background: #bfbfbf;
    float: left;
    margin: 20px;
    padding: 20px;
    width: 260px;
}

.text-field,
.password-field,
.select-field,
.slider-field,
fieldset {
    margin-bottom: 10px;
}

fieldset {
    background-color: #a3a3a3;
    padding: 23px 0 5px 8px;
    position: relative;
}

fieldset legend span {
    color: #F8E5C9;
    font: 12px/12px Arial;
    position: absolute;
    top: 8px;
    left: 8px;
}

.text-field label,
.password-field label,
.select-field label {
    background-color: #666666;
    color: #F8E5C9;
    display: block;
    font: 11px/25px Arial;
    padding-left: 9px;
    height: 25px;
    width: 80px;
}

.text-field input,
.password-field input,
.select-field select {
    padding-left: 7px;
    height: 25px;
    width: 100%;
}

.field.checkbox label,
.field.radio label {
    color: #000000;
    font: 11px/11px Arial;
    margin-bottom: 5px;
}

.field.checkbox input,
.field.radio input {
    background: #dddddd;
    color: white;
    font: 11px/11px Arial;
    height: 11px;
    width: 12px;
}

.slider-field {
    padding: 10px 8px;
    font: 12px/12px Arial;
}

.slider-field .slider {
    float: left;
    width: 83%;
}

.slider-field .value {
    float: left;
    width: 17%;
    text-align: right;
}

.toolbar {
    margin-top: 16px;
    text-align: center;
}

#model-data {
    background: #bfbfbf;
    float: left;
    margin-top: 20px;
    padding: 20px;
    width: 260px;
    height: 488px;
}

#order-action-fieldset {
    height: 64px;
}

#order-type-fieldset {
    height: 64px;
}

#order-market-value-fieldset {
    height: 58px;
}

#market-value-value {
    margin-top: 5px;
}

.value-theme-a {
    background-color: white;
    line-height: 25px;
    padding-left: 7px;
    height: 25px;
    width: 100%;
}